// 변수처리

// size width
$siteWidth: 1070px;

// text size
$fontSizeSmall: 12px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

// title text
$titleFontSizeSmall: 28px;
$titleFontSizeMid: 32px;
$titleFontSizebig: 36px;

//background Color
$backgroundColor: #fff;

//font color
$fontColorBasic: #333;
$fontColorPrimary: #01497c;
$fontColorHover: #355070;
$titleColorBasic: #111;

//border color
$borderColor: #355070;

//button Color
$buttonColor: #01497c;
$buttonColorHover: #355070;