// 변수처리

// size width
$siteWidth: 1070px;

// text size
$fontSizeSmall: 12px;
$fontSizeFit: 14px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

// title text
$titleFontSizeSmall: 28px;
$titleFontSizeMid: 32px;
$titleFontSizebig: 36px;

//background Color
$backgroundColor: #fff;

//font color
$fontColorBasic: #333;
$fontColorPrimary: #111;
$fontColorSub: #888;
$titleColorBasic: #111;

//font hover
$fontColorHover: #fff;

//border color
$borderColor: #111;

//button Color
$buttonColor: #111;
$buttonColorHover: #666;